*{
    margin: 0;
    padding: 0; 
}

body {
    display:flex;   
    flex-direction: column;
    align-items: center;       
}

#canvas {  
    margin-top: 100px;    
    z-index: 1;
    border: 1px solid #000000;
}

#backgroundCanvas {
    position: absolute;
    z-index: 0;
}

a {
    z-index: 2;
    margin-top: 10px;
    background-color: #5b5a5a;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    }

a:hover {
    background-color: #373535;
}
      
a:active {
    background-color: black;
}
      
a:visited {
    background-color: #ccc;
}