*{
    margin: 0;
    padding: 0; 
}

body {
    display:flex;   
    flex-direction: column;
    align-items: center;       
}

#canvas {  
    margin-top: 100px;    
    z-index: 1;
    border: 1px solid #000000;
}

#backgroundCanvas {
    position: absolute;
    z-index: 0;
}